<div class="container-fluid">
  <div class="row" id="publications-title-card">
    <h1 class="col-lg-12 text-center" id="publications-title-card-header">Selected Publications</h1>
  </div>
  <hr>
  <% @papers.each_with_index  do |paper, idx| %>

    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h5><%= paper[:title] %>
          <% if paper[:synopsis].length > 1 %>
            <span>
              <a class="abstract-collapse-toggle" id=<%= "abstract#{idx}-collapse-toggle" %> data-toggle="collapse" href=<%= "#abstract#{idx}" %>>
                <span id=<%= "abstract#{idx}-collapse-toggle-prefix" %> class="abstract-toggle-action" ></span>abstract
              </a>
            </span>
          <% end %>
        </h5>
        <% if paper[:synopsis].length > 1 %>
          <div class="collapse" id=<%= "abstract#{idx}" %> >
            <div class="card card-body">
              <%= paper[:synopsis] %>
            </div>
          </div>
        <% end %>
        by: <%= paper[:author] %>
        <br>
        <%= paper[:publication] %>
        <br>
        <%= link_to "PMID: #{paper[:pmid]}", "http://www.ncbi.nlm.nih.gov/pubmed/#{paper[:pmid]}", target: :blank, :class => "pubmed-link"  %>
        <br>

      </div>
    </div>
    <br>

  <% end %>
</div>