<div class="container-fluid">
  <div class="row" id="research-title-card">
    <h1 class="col-lg-12 text-center" id="research-title-card-header">Research and Resources</h1>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <p>
        Multiple sclerosis (MS) is a chronic, life-changing disease of the central nervous system that is most often diagnosed in the third or fourth decade of life, occurs more frequently in women than in men, and globally
        affects more than two million individuals (at least 400,000 of them in the US). There is broad consensus that MS etiology is multifactorial and that the MS-prone genotype results from multiple independent DNA variants
        relatively frequent in the population. The polygenic model of MS heritability provided the rationale and drive for assembling large DNA datasets to pursue genome-wide association studies (GWAS), which identified over
        200 statistically independent autosomal polymorphisms associated with risk. In aggregate, these findings explain at least 50% of the overall contribution of genetics to disease susceptibility, of which over 10% are
        attributable to Major Histocompatibility Complex (MHC)-associated polymorphisms. Beyond this effort to describe risk heritability, there are significant questions that remain to be answered to maximize the value of
        genetic research in MS, including the need to describe and interpret the relationships between genotype and phenotype, and identify markers of disease progression.
      </p>
      <p>
        The availability of highly sensitive and high-capacity methods for analysis of gene variation and expression combined with the implementation of algorithms that predict behaviors in complex biological circuits provides
        an outstanding opportunity to facilitate progress in the integration of multiple data sources and functional interpretation of physiological and laboratory results. Our goal is to apply novel molecular, informatic,
        statistical, and epidemiological approaches to illuminate fully the genetics of autoimmune demyelination. Specifically, our research plan includes:
        <ul>
          <li>Genome wide gene/haplotype mapping for the discovery of susceptibility genes</li>
          <li>SNP to function. Molecular biology and immunology</li>
          <li>Genotype-phenotype correlations</li>
          <li>Genomic and clinical study of MS populations at low and intermediate risk</li>
          <li>Biomarkers discovery</li>
          <li>Disease progression as an age-related disease</li>
        </ul>
      </p>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1 class="text-center" id="resources-head">Resources</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <span id="resource-links" class="text-center">
        <%= link_to "Laboratory", nil ,  :class => "scroll-to-resource btn-resource", :'data-tar' => "ms-gen-lab" %>

        <%= link_to "Clinic", nil ,  :class => "scroll-to-resource btn-resource", :'data-tar' => "ms-clinic" %>

        <%= link_to "Computing", nil ,  :class => "scroll-to-resource btn-resource", :'data-tar' => "computing" %>

        <%= link_to "Neuroimaging", nil ,  :class => "scroll-to-resource btn-resource", :'data-tar' => "neuroimaging" %>

        <%= link_to "Biorepository", nil ,  :class => "scroll-to-resource btn-resource", :'data-tar' => "biorepo" %>
      </span>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1 id="ms-gen-lab">Multiple Sclerosis Genetics Laboratory</h1>
      <p>
        The MS Genetics Laboratory is located on the second floor of the Sandler Neurosciences Center at the UCSF Mission Bay Campus. We occupy 12 desk areas and 12 adjacent benches in 2,550 square feet of wet lab space,
        which is part of a larger 8,500 square foot open laboratory complex dedicated to neuroimmunology research. Dry space with 6 cubicles for bioinformatics and statistical analysts, clinical research coordinators, and administrative
        personnel is directly attached to the laboratory. The laboratory is well equipped to perform all varieties of omics screens, molecular biology and immunological experiments.
      </p>
      <p>
        The five-story, 237,000 square foot Sandler Center was inaugurated in July 2012 and is one of the largest integrated neuroscience basic and clinical research centers in the country. It houses the UCSF Department of Neurology,
        the Center for Integrative Neurosciences, and the Institute for Neurodegenerative Disease. Located on the first floor of the Center within the Department of Neurology, the Neurosciences Clinical Research Unit occupies
        over 14,200 sq.ft. with a waiting room and reception/administration area, 8 fully furnished exam rooms, 6 consultation rooms, and neurophysiology and imaging research capabilities, including a Siemens 3 Tesla TIM Trio scanner
        fully dedicated to multiple sclerosis to be used as described in Project 1. There are also 10 testing/control rooms (includes OCT retinal imaging, 64- and 128-channel EEG, TMS, tDCS, eye movement and reach movement recording,
        speech monitoring, and video observation), a nutrition station, a phlebotomy and sample processing room, medication, and medical record storage facilities. A virtual simulation room and microscopic core are under development.
        Finally, the building houses a 15,000 sq.ft. AAALAC accredited state of the art multispecies vivarium.
      </p>
      <p>
        The Sandler Neurosciences Center hosts over 50 Principal Investigators affiliated with the Department of Neurology and close to 180 additional researchers and staff. Scientists from a wide range of disciplines employ the most advanced molecular genetics,
        genomics, epidemiology, computational, basic neuroscience, and CNS imaging research tools, while working in direct contact with top clinicians treating patients with neurological diseases. The Department of Neurology is currently
        the largest recipient of NIH awards among departments of neurology in US medical schools, and has many notable senior faculty including nine members of the Institute of Medicine, six members of the American Academy of Arts and
        Sciences, three members of the National Academy of Sciences, and a Nobel laureate. This is a highly charged creative environment for scientists who are making a global impact. Our Department has an outstanding record of fostering
        talented young clinician-scientists, as they become productive independent researchers. In addition, the neuroscience community at the UCSF MB campus includes research groups and core services at nearby Rock Hall, Genentech Hall
        and the Gladstone Institute of Neurological Disease. This community is highly interactive, with a monthly Brain Club seminar, weekly grand rounds, neuroimmunology seminars twice a month, journal clubs, visiting professorships,
        presentations from graduate and postdoctoral fellows, and Friday afternoon social gatherings.
      </p>
      <p>
        For multiple sclerosis and related neuroimmunological diseases, we have established outstanding clinical and research units that provide a resource-rich environment for basic, clinical, epidemiological and translational research.
        We have an active postgraduate fellowship program and numerous nationally and internationally known faculty, many of whom have impressive records of mentorship and collaboration, including Jorge Oksenberg (genetics), Jill Hollenbach
        (immunogenetics), Sergio Baranzini (functional genomics and systems biology), Stephen Hauser and Scott Zamvil (neuro-immunology), Samuel Pleasure (neurobiology and neural differentiation), Jonah Chan and Stephen Fancy
        (oligodendrocyte biology), Roland Henry (neuro-radiology), Ari Green (neuro-ophthalmology), Jeffrey Gelfand (EMR-based research), Emmanuelle Waubant (pediatric MS), Michael Wilson (neuro-infectious diseases),
        Douglas Goodin, and Bruce Cree (clinical MS research), and Elizabeth Crabtree-Hartman (patient education). &nbsp;&nbsp;<%= link_to "return to resources list", nil, :class => 'scroll-to-resources-list', :'data-tar' => "resources-head" %>
      </p>
      <hr>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1 id="ms-clinic">UCSF Multiple Sclerosis Clinic</h1>
        <p>
          Clinical activities take place at the UCSF Multiple Sclerosis Center, a comprehensive adult and pediatric specialty outpatient clinic currently housed within a newly renovated suite in a building adjacent to the MBC campus, (about 1000 ft.
          from the laboratories). The MS Center serves the population of Northern California and is also a primary reference resource for patients across the US and the world. The clinic is staffed by fifteen neurologists, all of whom are specialists
          in the care of patients with MS, and is supported by superb nursing and ancillary staff, including one full-time nurse clinician, two licensed vocational nurses, one social worker, one full-time neuropsychologist, and two full-time receptionists.
          A significant effort is dedicated to patient’s education and support groups. Approximately 1000 new patients are seen at the MS Center each year and approximately 4500 visits are completed each year for clinical follow-up and clinical research
          projects, including 8 clinical trials. &nbsp;&nbsp;<%= link_to "return to resources list", nil, :class => 'scroll-to-resources-list', :'data-tar' => "resources-head" %>
        </p>
      <hr>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1 id="computing">Computing</h1>
      <p>
        The computational suite of the MS Research Group is located adjacent to the wet labs. Under the direction of Adam Santaniello, resources available include seven dedicated, in-lab servers able to accommodate intensive computing tasks.
        All servers are housed in a secure, soundproof, temperature-controlled server room within the Sandler Neurosciences Center that features a dedicated auxiliary power source to keep systems online in the event of a building shutdown. All servers
        are 64-bit Linux (CentOS 6 and Debian) with a range of CPU and memory configurations from one dual-core with 16GB up to sixteen cores with 64GB; current in-laboratory storage capacity is 140TB. Two of these servers host the laboratory’s largest
        datasets and data management tools, including a custom-developed, centralized database repository of all MS study, sample, genotype, and phenotype data (MSBase), in addition to a complement of application programming modules. The mission-critical
        data on these servers is backed up nightly to both external RAID devices and a remote HIPAA-compliant cloud service for added reliability and research continuity in the event of an emergency. Three additional servers are dedicated to experimental
        analysis and file sharing among laboratory staff. They are locked behind campus- and host-level firewalls for maximum security. Finally, two high memory Dell servers (>64GB) with 34TB of direct-attached storage are available to lab members for ad-hoc
        analyses of next-generation whole genome sequences. All personal computers are encrypted. All computers and servers are backed up daily to offsite servers.
      </p>
      <p>
        For the most advanced parallel processing bioinformatics projects, the UCSF laboratory has invested in a high priority share of the University of California-QB3 cluster, a high-performance computing facility managed by the California Institute for
        Quantitative Biosciences and located at the UCSF MB campus. This SGE-based (Sun Grid Engine) shared cluster has been in operation since 2005 and currently has over 600 nodes hosting a combined 4,678 cores of a variety of types (most are dual-processor
        4- or 6-core Xeon64 machines, each with at least 2GB RAM per core and a 120GB hard disk), primarily backed by 36TB of fast network array storage housed in a total of 19 racks. The cluster has a 10Gbit/s direct connection to the university’s network
        backbone and supports approximately 30 research groups across campus, primarily in the areas of structural biology, systems biology and biomedical imaging. The MS genetics laboratory’s access to the cluster has allowed for expedited analyses such as
        parallel processing of whole genome sequence data, construction of vast gene expression networks, and large imputation projects.
      </p>
      <p>
        The MS Genetics Group is also involved in the post-installation performance testing of a new, dedicated genomics cluster overseen by the Institute for Human Genetics (IHG) at UCSF. The IHG provides institutional support and resources that include a
        wide variety of state-of-the-art technology platforms and support services for cost effective, flexible solutions for genomics projects of any size, ranging from full-service, large-scale projects to equipment only support. The IHG cluster is co-located
        off-campus in the UCSF Mission Bay data center and is connected via a 10Gbit/s link to several Illumina HiSeq 2500 systems, housed in the Genomics Core Facilities, to facilitate high-throughput sequence analyses. The cluster was designed specifically for
        genomics research and complements the QB3 cluster’s emphasis on multi-core computing by providing many high-RAM nodes and a growing capacity for long-term storage of whole genome datasets. The current configuration comprises 864 CPUs across 52
        infiniband-connected nodes with 52TB of fast storage and 360TB of archival storage. All nodes have at least 128GB of memory; two nodes have 1TB of memory each to support the most memory-intensive applications.
      </p>
      <p>
        Finally, the recently launched UCSF Neuroscience Private Cloud Cluster is a virtualized computational cluster based, OpenStack platform and is located in the Sandler Neurosciences Center server room facility. This cluster allows for a scientifically
        agile method of allocating pooled computing resources in a many-investigator environment where computational activity and cluster usage vary greatly depending on need and availability. It is designed to scale-out easily with the addition of cluster
        nodes (current node specification is dual Xeon 8 core / 16 Thread processors, 384GB RAM, 9TB usable clustered storage). The Ceph object/block/file-level storage architecture provides automatic redundant copies of all data blocks protecting against
        data loss upon drive failures. The cluster operations were piloted between April and August 2013 and in September 2013, “went live” with 112 cores / 224 threads of execution, 2.7TB RAM, and 63TB usable cluster storage. There is no theoretical limit
        to the size of the cluster and the practical limit, given available space and power in the center’s server room, is a cluster of >1,000 cores. &nbsp;&nbsp;<%= link_to "return to resources list", nil, :class => 'scroll-to-resources-list', :'data-tar' => "resources-head" %>
      </p>
      <hr>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1 id="neuroimaging">Neuroimaging</h1>
      <p>
        The MS Neuroimaging Laboratory, under the direction of Dr. Roland Henry, is dedicated to the development and clinical evaluation of advanced Magnetic Resonance Imaging (MRI) methods at high and very high field strengths. The MS dedicated Imaging
        Center is located in the first floor of the Sandler Neurosciences Center (SNC) in the UCSF Mission Bay (MB) Campus. The MS Imaging Center is equipped with a whole body Siemens 3 Tesla Siemens Skyra wide bore scanner with parallel transmit
        capabilities and 64 channels receive, utilizing a 64-channel head and neck coil and 32-channel spine coils and is solely dedicated to multiple sclerosis imaging research. The Center is supported by an experienced MR technologist and an MR physicist,
        and specialty sequences for brain and spinal cord have been acquired and optimized for MS research. The laboratory computational suite is also situated in the SNC (second floor) and has 14 quad core Linux workstations that are used for computational
        analyses. All of the computer workstations and servers have the necessary software tools to perform research data management and processing. The laboratory includes a locally developed MRI processing semiautomatic pipeline (PBR) with built in local
        database and java script visualization for quality control operations. Processing pipelines are built into a python infrastructure. This flexible pipeline can be integrated with any database for automatic and semiautomatic processing streams. For
        the proposed project PBR will be integrated with the LORIS cloud based database. &nbsp;&nbsp;<%= link_to "return to resources list", nil, :class => 'scroll-to-resources-list', :'data-tar' => "resources-head" %>
      </p>
      <hr>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1 id="biorepo">UCSF Multiple Sclerosis Biorepository</h1>
      <p>
        <%= link_to "The Multiple Sclerosis Genetics Research Laboratory", "https://msgenetics.ucsf.edu/biorepository", target: :blank %> at the Department of Neurology in the UCSF School of Medicine is combining genetics and functional genomics together with
        immunologic, biochemical, neuroimaging and clinical experimental approaches to identify and characterize pathogenic processes of relevance to multiple sclerosis and other inflammatory conditions of the central nervous system. &nbsp;&nbsp;<%= link_to "return to resources list", nil, :class => 'scroll-to-resources-list', :'data-tar' => "resources-head" %>
      </p>
      <hr>
    </div>
  </div>
</div>