
<div class="container-fluid">
  <div class="row" id="team-title-card">
    <h1 class="col-lg-12 text-center" id="team-title-card-header">Who We Are</h1>
  </div>
  <hr>
  <br>

  <div class="row team-block">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="team-header">Jorge Oksenberg, PhD.</h3>
      <h6 class="team-subheader">Principal Investigator</h6>
      <p><%= image_tag("jorge.jpg", :class => "team-thumbnail")%>
        Dr. Oksenberg is the G.A. Zimmermann Endowed Chair in Neurology. As a native from Argentina, Dr. Oksenberg received his Ph.D. in Immunology from the Hebrew University of Jerusalem, Israel, and joined the UCSF
        faculty in 1993 following post-doctoral training at Stanford University. Since 1979 his research has focused in the areas of human immunogenetics and the control of the immune response. He has authored numerous
        publication and scholarly reviews in the field and is a leading investigator in the International Multiple Sclerosis Genetics Consortium.<br><a href="mailto:jorge.oksenberg@ucsf.edu">contact: jorge.oksenberg@ucsf.edu</a>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="team-header">Alessandro Didonna, PhD.</h3>
      <h6 class="team-subheader">Adjunct Assistant Professor</h6>
      <p><%= image_tag("alessandro.jpg", :class => "team-thumbnail")%>
        My main research interest is to move from genes to function, in order to understand how genetic variability mechanistically leads to an increased risk of developing multiple sclerosis (MS). Additionally, I have
        been using genomic tools and mouse genetics to understand MS pathophysiology.<br><a href="mailto:alessandro.didonna@ucsf.edu">contact: alessandro.didonna@ucsf.edu</a>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="team-header">Qin Ma, PhD.</h3>
      <h6 class="team-subheader">Post-Doctoral Fellow</h6>
      <p><%= image_tag("qin.png", :class => "team-thumbnail")%>
        Qin joined the group in January 2019 after obtaining her PhD from Beijing Institute of Genomics, Chinese Academy of Sciences. In the Oksenberg lab, her research mainly focuses on understanding the genetic and epigenetic
        regulations in MS. She will combine experiments and bioinformatics to understand the molecular mechanism of MS.<br><a href="mailto:qin.ma@ucsf.edu">contact: qin.ma@ucsf.edu</a>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="team-header">Stacy Caillier</h3>
      <h6 class="team-subheader">Biorepository Manager</h6>
      <p><%= image_tag("stacy.jpg", :class => "team-thumbnail")%>
        Stacy started working with the Multiple Sclerosis Genetics Research Group in July of 1998, after graduating from the University of California, Santa Cruz with a bachelor degree in Neuroscience and Behavior.
        In addition to heading up the DNA genotyping projects, she works in quantitative PCR, and SNP/expression chips. More recently, Stacy is leading the application of immunological assays to assess the functional
        role of genetic variants associated with multiple sclerosis susceptibility and progression.<br><a href="mailto:stacy.caillier@ucsf.edu">contact: stacy.caillier@ucsf.edu</a>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="team-header">Brenda Ho</h3>
      <h6 class="team-subheader">Genetics Specialist</h6>
      <p><%= image_tag("brenda.png", :class => "team-thumbnail")%>
        Brenda started working with the Multiple Sclerosis Genetics Research Lab in December of 2018. She received her B.S. from the University of Maryland in Biology with specialization in Physiology and Neurobiology.
        She is using next generation sequencing methods to characterize variants within MHC genes, specifically in the HLA region for patients with MS. Brenda also works with the Central Biorepository to process and
        catalogue extracted DNA received from clinic. Through sample processing and sequencing, she works to deepen our understanding of genes that can make an individual more susceptible to MS.
        <br><a href="mailto:brenda.ho@ucsf.edu">contact: brenda.ho@ucsf.edu</a>
      </p>
    </div>
  </div>
  <hr>


  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="team-header">Rosa Guerrero</h3>
      <h6 class="team-subheader">Bio-Specimens Technician</h6>
      <p><%= image_tag("rosa.jpg", :class => "team-thumbnail")%>
        Rosa started working with the group in July of 2004 after working at the UCSF DNA Bank. Rosa's primary responsibility is the isolation of high quality nucleic acids from blood samples received from across the
        United States and abroad for genetic studies in multiple sclerosis.<br><a href="mailto:rosa.guerrero@ucsf.edu">contact: rosa.guerrero@ucsf.edu</a>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="team-header">Nicholas Lee</h3>
      <h6 class="team-subheader">Bio-Specimens Technician</h6>
      <p><%= image_tag("nicholas-lee.jpg", :class => "team-thumbnail")%>
        Nicholas joined the group in July 2018 after graduating from University of California, San Diego with a Bachelor of Science degree in Biology. Nicholas processes blood samples, isolating plasma, serum, DNA, and lymphocytes
        for research studies.<br><a href="mailto:nicholas.lee@ucsf.edu">contact: nicholas.lee@ucsf.edu</a>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="team-header">Janet Yau</h3>
      <h6 class="team-subheader">Administrative Support</h6>
      <p><%= image_tag("janet.jpg", :class => "team-thumbnail")%>
        Janet came to us with a Bachelor's Degree in Business Administration and her position covers a wide variety of responsibilities related to purchasing and funds management. She also plays a key role in assuring
        smooth daily lab operations.<br><a href="mailto:janet.yau@ucsf.edu">contact: janet.yau@ucsf.edu</a>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="team-header">Adam Santaniello</h3>
      <h6 class="team-subheader">Database Manager</h6>
      <p><%= image_tag("adams.jpg", :class => "team-thumbnail")%>
        Adam has a B.S. in Engineering Science with Tau Beta Pi honors from Tufts University in Medford, MA. His prior experience includes software development and project management for consulting and financial
        services firms. He joined our lab in November 2007 and is leading the integration and enhancement of the lab's data sources.<br><a href="mailto:adam.santaniello@ucsf.edu">contact: adam.santaniello@ucsf.edu</a>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="team-header">Adam Renschen</h3>
      <h6 class="team-subheader">Data Systems Analyst</h6>
      <p><%= image_tag("adamr.jpg", :class => "team-thumbnail")%>
        Adam Renschen joined the Genetics Laboratory in October 2016 as a web developer and member of the data management team. He has designed, built, and deployed websites, databases, and API’s to securely make research
        data available to remote consumers. He assists with the management of the laboratory databases and provides general IT support.<br><a href="mailto:adam.renschen@ucsf.edu">contact: adam.renschen@ucsf.edu</a>
      </p>
    </div>
  </div>



</div>