
<div class="container-fluid">
  <div class="row" id="team-title-card">
    <h1 class="col-lg-12 text-center" id="jobs-title-card-header"></h1>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag("jorge.jpg", :class => "portrait-placeholder")%><br>
      <h6 class="text-center">Jorge Oksenberg, PhD.</h6>
    </div>
    <div class="col-lg-4">
      <%= image_tag("stacy.jpg", :class => "portrait-placeholder")%><br>
      <h6 class="text-center">Stacy Caillier</h6>
    </div>
    <div class="col-lg-4">
      <%= image_tag("adams.jpg", :class => "portrait-placeholder")%><br>
      <h6 class="text-center">Adam Santaniello</h6>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-lg-4">
      <%= image_tag("rosa.jpg", :class => "portrait-placeholder")%><br>
      <h6 class="text-center">Rosa Guerrero</h6>
    </div>
    <div class="col-lg-4">
      <%= image_tag("nicholas-lee.jpg", :class => "portrait-placeholder")%><br>
      <h6 class="text-center">Nicholas Lee</h6>
    </div>
    <div class="col-lg-4">
      <%= image_tag("adamr.jpg", :class => "portrait-placeholder")%><br>
      <h6 class="text-center">Adam Renschen</h6>
    </div>
  </div>
  <br>
</div>