<div class="container-fluid" id="header-container">

  <div class="row" id="top-row">
    <div class="col-lg-3 offset-lg-1 top-row-col">
      <%= link_to "University of California, San Francisco", 'https://www.ucsf.edu/', :target => :blank %>
    </div>
    <div class="col-lg-4 offset-lg-4 top-row-col">
      <%= link_to "About UCSF", 'https://www.ucsf.edu/about/ucsf-overview', :target => :blank %>
      <%= link_to "Search UCSF", 'https://www.ucsf.edu/search', :target => :blank %>
      <%= link_to "UCSF Medical Center", 'https://www.ucsfhealth.org/', :target => :blank %>
    </div>
  </div>

<br>

  <nav class="navbar  sticky-top navbar-expand-lg navbar-light" id="navmenu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "Multiple Sclerosis Genetics Research Laboratory", root_path, :class => 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">
        <li class=<% if params[:controller] == 'home' && params[:action] == 'index' %>"navbar-item navbar-item-active"<% else %>"navbar-item"<% end %> >
          <%= link_to "Home", root_path, :class => "nav-link nav-nav-link nav-menu-item" %>
        </li>
        <li class=<% if params[:controller] == 'home' && params[:action] == 'team' %>"navbar-item navbar-item-active"<% else %>"navbar-item"<% end %> >
          <%= link_to "Team", team_path, :class => "nav-link nav-nav-link nav-menu-item" %>
        </li>
        <li class=<% if params[:controller] == 'home' && params[:action] == 'research' %>"navbar-item navbar-item-active"<% else %>"navbar-item"<% end %> >
          <%= link_to "Research", research_path, :class => "nav-link nav-nav-link nav-menu-item" %>
        </li>
        <li class=<% if params[:controller] == 'home' && params[:action] == 'publications' %>"navbar-item navbar-item-active"<% else %>"navbar-item"<% end %> >
          <%= link_to "Publications", publications_path, :class => "nav-link nav-nav-link nav-menu-item" %>
        </li>
        <li class=<% if params[:controller] == 'home' && params[:action] == 'jobs' %>"navbar-item navbar-item-active"<% else %>"navbar-item"<% end %> >
          <%= link_to "Join Us", jobs_path, :class => "nav-link nav-nav-link nav-menu-item" %>
        </li>
        <li class="navbar-item">
          <%= link_to "Biorepository", "https://msgenetics.ucsf.edu/biorepository", :target => :blank, :class => "nav-link nav-nav-link nav-menu-item" %>
        </li>
        <% if current_user %>
          <li class="navbar-item">
            <%= link_to "Admin", rails_admin_path, :class => "nav-link nav-nav-link nav-menu-item" %>
          </li>
        <% end %>
      </ul>
    </div>

  </nav>
</div>
<hr>